/*
	개인이 작성한 CSS는 여기서 작성 부탁드립니다 !
*/
@charset "UTF-8";

/* jquery floating banner */
#scrollBanner {
	position: absolute;
	z-index:10;
	width:80px;
	top:400px;
	right:30px;
	cursor: pointer;
}
#scrollBanner p {
	text-align: center;
	background-color: #40ba37;
	color:#fff;
	
}

/* recipe css */
#recipeCategory{
	
}
#totalCount {
	font-size:21px;
	padding:20px 20px 50px 20px;
}
#totalCount span {
	font-weight:bold;
	color:#40ba37;
	font-size:32px;
}
.recipePlusBtn {
	text-align:center;
	cursor: pointer;
}
.prepStep {
	margin-bottom: 50px; 
}
.prepStep img {
	width:300px;
	height:200px;
	object-fit:cover;
	
}
.ratings span {
	color: #9b9b9b;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
}
.recipeTitleWrap {
	margin:15px;
	padding:15px;
	background-color:rgba(105, 105, 105, 0.7);
	display:inline-block;
}
.recipeTitleWrap h3, .recipeTitleWrap h6{
	color:#F5F5F5
}
.saveBtn.off {
	display: block;
}
.saveBtn.on{
	display: none;
}
.prepStep input:focus,.prepStep textarea:focus  {
	outline: solid 1px dimgray;
}
/* main header font size  */
.classynav ul li a , .classy-nav-container a, .classy-nav-container a:focus, .classy-nav-container a:hover{
	font-size:16px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}