/*
	개인이 작성한 CSS는 여기서 작성 부탁드립니다 !
*/
@charset "UTF-8";

/* jquery floating banner */
#scrollBanner {
	position: absolute;
	z-index:10;
	width:80px;
	top:400px;
	right:30px;
	cursor: pointer;
}
#scrollBanner p {
	text-align: center;
	background-color: #40ba37;
	color:#fff;
	
}

/* recipe css */
#recipeCategory{
	
}
#totalCount {
	font-size:21px;
	padding:20px 20px 50px 20px;
}
#totalCount span {
	font-weight:bold;
	color:#40ba37;
	font-size:32px;
}
.recipePlusBtn {
	text-align:center;
	cursor: pointer;
}
.prepStep {
	margin-bottom: 50px; 
}
.prepStep img {
	width:300px;
	
}
/* main header font size  */
.classynav ul li a , .classy-nav-container a, .classy-nav-container a:focus, .classy-nav-container a:hover{
	font-size:16px;
}

/* recipe */


